@model Eshop.Domain.DomainModels.TicketInShoppingCart

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Ticket</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.ProductName)
        </dd>
        <dt class="col-sm-2"
            @Html.DisplayNameFor(model => model.Ticket.ProductImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.ProductImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.ProductDescription)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.ProductDescription)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Rating)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Rating)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ticket.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ticket.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShoppingCartId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShoppingCartId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ShoppingCartId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ShoppingCartId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TicketId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
